<input type="text" id="txtEmail" placeholder="email" />
<button id="btnAdd" type="button">+</button>



<script>
    (function () {

        $("#btnAdd").bind("click", function () {

            var txt = $("#txtEmail").val();

            var obj = { txt: txt };

            $.ajax({
                url: "/amigos/AddAmigo",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(obj),
                success: function () {

                    location.reload();

                },
                error: function () {

                    alert("Algo ha fallado");

                }
            });

        });




    })();

</script>